html {
	background: #FFF url(/images/drinking_coffee.png) no-repeat fixed bottom right;
}

body {
	max-width: 60em;
	margin: 1em auto;
	padding: 0 1em;
	font-family: "Helvetica", "Arial", sans;
	font-size: 14px;
	color: #333;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
}

hr {
	border: none;
	height: 1px;
	background-color: #CCC;
}

legend, button, input, textarea, select {
	color: #333;
}

button {
	cursor: pointer;
    border: none;
	background-color: transparent;
	color: #8B0000;
}

button:hover {
	color: #F00;
}

input, textarea, select {
	padding: 0.2em;
	border: 1px solid #CCC;
	background-color: transparent;
}

textarea {
	resize: none; /* safari */
}

a, a:visited {
	color: #8B0000;
	text-decoration: none;
}

a:hover {
	color: #F00;
}

/* general styles */

div.nav {
	font-size: 150%;
	margin-bottom: 0.75em;
	border-bottom: 1px solid #CCC;
}

ol.requests {
	margin: 0.5em 0 1em 0;
}

ol.requests li {
	margin-bottom: 0.25em;
}

ol.submissions {
	margin: 0.5em 0 1em 0;
}

div.session {
	float: right;
}

h2.subject {
	margin-bottom: 0.5em;
}

div.owner {
	margin-bottom: 0.5em;
}

div.message {
	border: 1px solid #CCC;
	padding: 0.25em;
	margin-bottom: 0.5em;
}

h3.push {
	margin-bottom: 0.5em;
}

div.new-push {
    margin: 1em 0;
}

/* forms */

form.new-push {
    display: inline;
}

form.request {
	margin: 0.5em 0;
}

form.request fieldset {
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

form.request fieldset legend {
	padding: 0 0.25em;
}

form.request fieldset div {
	margin-bottom: 0.5em;
}

form.request label {
	padding-top: 0.25em;
	float: left;
	width: 10%;
	text-align: right;
	padding-right: 1%;
}

form.request label.checkbox {
	padding: 0 0 0 0.5em;
	float: none;
	text-align: left;
}

form.request input {
	width: 85%;
}

form.request input.checkbox {
	width: auto;
}

form.request textarea {
	width: 85%;
	height: 10em;
}

form.push.request div.content, form.edit.request div.content {
    display: none;
}


form.accept-request {
	display: inline;
}

div.requests {
	padding: 0.5em;
	border: 1px solid #CCC;
	margin-bottom: 0.5em;
}

h2.pending {
    margin-top: 1em;
}

ol.accepted.requests li.request span.datetime {
	display: none;
}

a.push-plans {
	color: #F00;
	font-weight: bold;
	margin: 0 0.5em;
}

a.push-plans:hover {
	color: #F00;
    text-decoration: none;
}

a.push-plans:hover:after {
    color: #333;
    font-weight: normal;
    font-size: 75%;
    content: "This request has push plans.";
    margin-left: 1em;
}

form.request-actions, form.take-ownership {
	display: inline;
}